.page {
    padding: 40px;
    color: white;
}

input {
    display: block;
    margin: 10px 0;
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

.add-btn {
    background: #00c3ff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.delete-btn {
    background: red;
    border: none;
    padding: 6px 14px;
    margin-left: 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.project-item {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.05);
    padding: 12px;
    border-radius: 10px;
}