@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#081b29] text-white font-sans;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}